.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.highlighted {
  position: relative;
  border-radius: var(--mantine-radius-sm);
  border-width: 2px;
  border-color: var(--mantine-color-pink-4);
  background-color: light-dark(var(--mantine-color-pink-0), var(--mantine-color-pink-7));
  
}

.title {
  font-size: 34px;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-pink-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}